# Node.js
**/node_modules/
**/dist/
**/build/
.eslintcache

# Python
**/__pycache__/
**/*.py[cod]
*$py.class
**/venv/
**/.venv/
env/
.env
db.sqlite3

# IDEs
.vscode/
.idea/

# OS junk
.DS_Store
Thumbs.db

# Project specific
plan.pdf
Anthropic-5.webp
